.nav{
    font-size: 1.5rem;
    overflow: hidden;
}
.navbar-brand{
    font-size: 1.5rem;

}
.nav_color{
    background-color: aliceblue;
    width: 99vw;
}
.mar_lef{
    margin-left: 710px;
}
.nav-item{
    padding: 0px 8px;
}

.main{
    display: flex;
    height: 87vh;
    justify-content: space-around;
    align-items: center;
}
.right img{
    width: 350px;
    animation: up_down 2s 0s alternate-reverse infinite ease-in-out;
}
.trans{
    transition: 0.5s;
}

@keyframes up_down {
    0% {
       transform: translate(0px, 0px); 
    }
    100% {
       transform: translate(0px, 50px); 
    }
    
    
}

.service_head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center{
    width: 400px;
}
.card img{
    width: 17.9rem;
    height: 12rem;
}